---
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
// import { ClientOnly } from './client-only.tsx';
import './_components/page.home/index.module.scss';
import './_components/page.works/index.module.scss';
import './_components/page.works-single/index.module.scss';
import './_components/page.profile/index.module.scss';
import IconFont from './assets/kuboniku.woff';
import type { RouteName } from "@/_foundation/type";

export interface Props {
	title: string;
  permalink: string;
  namespace: RouteName;
}

const { props } = Astro;

const SITE_TITLE = "Kuboniku.com | Web designer";
const DESCRIPTION = "Web designer Nagisa Kubo 久保渚 portfolio site";
const SITE_URL = "https://kuboniku.com";

const title = props.title ? props.title + ' | ' + SITE_TITLE : SITE_TITLE;

const idDev = process.env.NODE_ENV !== 'production';
const LOCAL_IP_ADDR = process.env.LOCAL_IP_ADDR || 'localhost';
---

<!DOCTYPE html>
<html lang="ja">
	<head>
    <slot name="prependHead" />
    <link as="font" crossorigin="" href={IconFont} rel="preload" type="font/woff" />
    {!idDev && (
      <link
        as="style"
        href="/assets/entry.css"
        onload="this.onload=null;this.rel='stylesheet';"
        rel="preload"
      />
    )}
		<meta charset="UTF-8" />
		<meta name="description" content={DESCRIPTION} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <title>{title}</title>
    <meta content={DESCRIPTION} name="description" />
    <meta content={title} property="og:title" />
    <meta content={props.permalink ? 'article' : 'website'} property="og:type" />
    <meta content={DESCRIPTION} property="og:description" />
    <meta content={SITE_URL + props.permalink} property="og:url" />
    <meta content={SITE_TITLE} property="og:site_name" />
    <meta content={SITE_URL + '/ogp.jpg'} property="og:image" />
		<link rel="icon" href="/favicon.ico" />
    <GoogleFontsOptimizer url="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Roboto+Condensed:wght@700&display=swap" />
    <GoogleFontsOptimizer url="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap&text=NagisaKubo" />
    <GoogleFontsOptimizer url="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400&display=swap&text=アートディレクター、Webデザイナー久保渚のポートフォリオサイトです。最高の価値体験を実現するために、私はデジタルデザインを通じて製品を作ることに情熱を注いでいます。株式会社パノラマでは、主にアートディレクション、Web/Logoデザインの制作を担っており、自分の武器としてはスピードに加え、コーポレートサイト/ブランドサイト/ゲームサイトなど幅広い分野にて100%以上の課題解決を目指したデザインをお客様へ提供することです。また、デザインチームのマネジメントも行っております。お肉がとにかく好き。焼肉を食べることと、お笑い、アニメを見ることがライフワーク。" />
    {idDev && (
      <script defer src={`http://${LOCAL_IP_ADDR}:5173/src/entry.ts`} type="module" />
    )}
    {!idDev && <script defer src="/assets/entry.js" type="module" />}
	</head>
  <body class="" data-page={props.namespace}>
    <div aria-hidden="true" class="fixed inset-0 w-full h-screen pointer-events-none -z-1 invisible" data-ref="windowSizeWatcher"></div>
    <canvas aria-hidden="true" data-gl data-ref="backCanvas"></canvas>
    <slot />
    <div class="ui-cursor" data-component="Cursor"></div>
    { // <ClientOnly client:only="react" />
    }
  </body>
</html>

<style lang="scss" is:global>
@font-face {
  font-family: "kuboniku";
  src: url("./assets/kuboniku.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
</style>

<style lang="scss">
  .ui-scrollbar {
    position: fixed;
    top: 50vh;
    right: 3.2rem;
    z-index: 99;
    pointer-events: none;

    @media (min-width: 640px) {
      right: 4rem;
    }
  }

  .ui-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 999;

    @media not (hover: hover) {
      display: none;
    }
  }
</style>
