---
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
// import { ClientOnly } from './client-only.tsx';
import './_components/page.home/index.module.scss';
import './_components/page.work/index.module.scss';
import './_components/page.work-single/index.module.scss';
import './_components/page.profile/index.module.scss';
import { BREAK_POINTS } from './_foundation/mq';
import noiseImg from './assets/noise_1100x1100.webp';
import noiseSpImg from './assets/noise_550x550.webp';
import type { RouteName } from "./_foundation/type";

export interface Props {
	title: string;
  permalink: string;
  namespace: RouteName;
}

const { props } = Astro;

const SITE_TITLE = "Kuboniku.com | Web designer";
const DESCRIPTION = "Web designer Nagisa Kubo 久保渚 portfolio site";
const SITE_URL = "https://kuboniku.com";

const title = props.title ? props.title + ' | ' + SITE_TITLE : SITE_TITLE;

const idDev = process.env.NODE_ENV !== 'production';
---

<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <slot name="prependHead" />
    <link
      as="image"
      href={noiseImg.src}
      media={BREAK_POINTS["pc"]}
      rel="preload"
    />
    <link
      as="image"
      href={noiseSpImg.src}
      media={BREAK_POINTS["sp"]}
      rel="preload"
    />
    {!idDev && (
      <link
        as="style"
        href="/assets/entry.css"
        onload="this.onload=null;this.rel='stylesheet';"
        rel="preload"
      />
    )}
    <link rel="preload" href="https://code.createjs.com/1.0.0/preloadjs.min.js" as="script">
    <meta charset="UTF-8" />
    <meta name="description" content={DESCRIPTION} />
    <meta name="format-detection" content="telephone=no" />
    <title>{title}</title>
    <meta content={DESCRIPTION} name="description" />
    <meta content={title} property="og:title" />
    <meta content={props.permalink ? 'article' : 'website'} property="og:type" />
    <meta content={DESCRIPTION} property="og:description" />
    <meta content={SITE_URL + props.permalink} property="og:url" />
    <meta content={SITE_TITLE} property="og:site_name" />
    <meta content={SITE_URL + '/ogp.jpg'} property="og:image" />
		<link rel="icon" href="/favicon.ico" />
    <GoogleFontsOptimizer url="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Roboto+Condensed:wght@100..900&display=swap" />
    <GoogleFontsOptimizer url="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400&display=swap&text=%E3%82%A2%E3%83%BC%E3%83%88%E3%83%87%E3%82%A3%E3%83%AC%E3%82%AF%E3%82%BF%E3%83%BC%E3%80%81Web%E3%83%87%E3%82%B6%E3%82%A4%E3%83%8A%E3%83%BC%E4%B9%85%E4%BF%9D%E6%B8%9A%E3%81%AE%E3%83%9D%E3%83%BC%E3%83%88%E3%83%95%E3%82%A9%E3%83%AA%E3%82%AA%E3%82%B5%E3%82%A4%E3%83%88%E3%81%A7%E3%81%99%E3%80%82%E6%9C%80%E9%AB%98%E3%81%AE%E4%BE%A1%E5%80%A4%E4%BD%93%E9%A8%93%E3%82%92%E5%AE%9F%E7%8F%BE%E3%81%99%E3%82%8B%E3%81%9F%E3%82%81%E3%81%AB%E3%80%81%E7%A7%81%E3%81%AF%E3%83%87%E3%82%B8%E3%82%BF%E3%83%AB%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E3%82%92%E9%80%9A%E3%81%98%E3%81%A6%E8%A3%BD%E5%93%81%E3%82%92%E4%BD%9C%E3%82%8B%E3%81%93%E3%81%A8%E3%81%AB%E6%83%85%E7%86%B1%E3%82%92%E6%B3%A8%E3%81%84%E3%81%A7%E3%81%84%E3%81%BE%E3%81%99%E3%80%82%E6%A0%AA%E5%BC%8F%E4%BC%9A%E7%A4%BE%E3%83%91%E3%83%8E%E3%83%A9%E3%83%9E%E3%81%A7%E3%81%AF%E3%80%81%E4%B8%BB%E3%81%AB%E3%82%A2%E3%83%BC%E3%83%88%E3%83%87%E3%82%A3%E3%83%AC%E3%82%AF%E3%82%B7%E3%83%A7%E3%83%B3%E3%80%81Web%2FLogo%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E3%81%AE%E5%88%B6%E4%BD%9C%E3%82%92%E6%8B%85%E3%81%A3%E3%81%A6%E3%81%8A%E3%82%8A%E3%80%81%E8%87%AA%E5%88%86%E3%81%AE%E6%AD%A6%E5%99%A8%E3%81%A8%E3%81%97%E3%81%A6%E3%81%AF%E3%82%B9%E3%83%94%E3%83%BC%E3%83%89%E3%81%AB%E5%8A%A0%E3%81%88%E3%80%81%E3%82%B3%E3%83%BC%E3%83%9D%E3%83%AC%E3%83%BC%E3%83%88%E3%82%B5%E3%82%A4%E3%83%88%2F%E3%83%96%E3%83%A9%E3%83%B3%E3%83%89%E3%82%B5%E3%82%A4%E3%83%88%2F%E3%82%B2%E3%83%BC%E3%83%A0%E3%82%B5%E3%82%A4%E3%83%88%E3%81%AA%E3%81%A9%E5%B9%85%E5%BA%83%E3%81%84%E5%88%86%E9%87%8E%E3%81%AB%E3%81%A6100%25%E4%BB%A5%E4%B8%8A%E3%81%AE%E8%AA%B2%E9%A1%8C%E8%A7%A3%E6%B1%BA%E3%82%92%E7%9B%AE%E6%8C%87%E3%81%97%E3%81%9F%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E3%82%92%E3%81%8A%E5%AE%A2%E6%A7%98%E3%81%B8%E6%8F%90%E4%BE%9B%E3%81%99%E3%82%8B%E3%81%93%E3%81%A8%E3%81%A7%E3%81%99%E3%80%82%E3%81%BE%E3%81%9F%E3%80%81%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E3%83%81%E3%83%BC%E3%83%A0%E3%81%AE%E3%83%9E%E3%83%8D%E3%82%B8%E3%83%A1%E3%83%B3%E3%83%88%E3%82%82%E8%A1%8C%E3%81%A3%E3%81%A6%E3%81%8A%E3%82%8A%E3%81%BE%E3%81%99%E3%80%82%E3%81%8A%E8%82%89%E3%81%8C%E3%81%A8%E3%81%AB%E3%81%8B%E3%81%8F%E5%A5%BD%E3%81%8D%E3%80%82%E7%84%BC%E8%82%89%E3%82%92%E9%A3%9F%E3%81%B9%E3%82%8B%E3%81%93%E3%81%A8%E3%81%A8%E3%80%81%E3%81%8A%E7%AC%91%E3%81%84%E3%80%81%E3%82%A2%E3%83%8B%E3%83%A1%E3%82%92%E8%A6%8B%E3%82%8B%E3%81%93%E3%81%A8%E3%81%8C%E3%83%A9%E3%82%A4%E3%83%95%E3%83%AF%E3%83%BC%E3%82%AF%E3%80%82" />
    <script src="https://code.createjs.com/1.0.0/preloadjs.min.js" is:inline />
    {idDev && (
      <script src={`http://${process.env.LOCAL_IP_ADDR || 'localhost'}:5173/src/entry.ts`} type="module" />
    )}
    {!idDev && <script src="/assets/entry.js" type="module" />}
	</head>
  <body class="" data-page={props.namespace}>
    <div aria-hidden="true" class="fixed inset-0 w-screen h-screen pointer-events-none -z-1 invisible" data-ref="windowSizeWatcher"></div>
    <canvas aria-hidden="true" class="glCanvas" data-ref="backCanvas"></canvas>
    <div aria-hidden="true" class="uiNoise sp:hidden" style={{ backgroundImage: `url(${noiseImg.src})`}}></div>
    <div aria-hidden="true" class="uiNoise pc:hidden" style={{ backgroundImage: `url(${noiseSpImg.src})`}}></div>
    <div class="uiProgressbar" data-component="Scrollbar" />
    <slot />
    <canvas aria-hidden="true" class="glCanvas" data-ref="frontCanvas"></canvas>
    <div class="uiCursor" data-ref="cursor"></div>
    { // <ClientOnly client:only="react" />
    }
  </body>
</html>

<style lang="scss" is:global>
.uiProgressbar {
  position: fixed;
  top: 50vh;
  right: 3.2rem;
  z-index: 99;
  pointer-events: none;

  @media (min-width: 640px) {
    right: 4rem;
  }
}

.uiCursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 999;

  @media not (hover: hover) {
    display: none;
  }
}

.uiNoise {
  background-repeat: repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;

  @media not screen and (min-width:640px) {
    background-size: 128px 128px;
    opacity: .8;
  }

  @media (min-width: 640px) {
    background-size: 192px 192px;
    opacity: .75;
  }
}

.glCanvas {
  contain: strict;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  overflow: clip;
  transform: rotate(0.0001deg);
  pointer-events: none;
  user-select: none;
}

body[data-page="home"] {
  overscroll-behavior-y: none;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}
</style>
